<li class="drawer-menu-item">
  <i class="fas fa-glasses"></i> <%= link_to "今期のアニメ", "#" %>
</li>
<li class="drawer-menu-item display_mode-nav">
  <i class="fas fa-forward"></i> <%= link_to "来期のアニメ", "#" %>
</li>
<li class="drawer-menu-item display_mode-nav">
  <i class="fas fa-step-backward"></i>  <%= link_to "前期のアニメ", "#" %>
</li>