<nav class="nav-menu navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="menu-nav navbar-nav w-100 nav-justified">
    <%# ajax 機能制限 %>
      <li class="border-menu2 nav-item">
        <a class="nav-link" href="#">おもしろいアニメ <span class="sr-only">(current)</span></a>
      </li>
      <%# ajax 機能制限 %>
      <li class="border-menu2 nav-item">
        <a class="nav-link" href="#">マイページ</a>
      </li>
    </ul>
  </div>
</nav>