<form class="search">
  <%= form_with scope: :search, url: "#", class: "form-control mr-sm-2", method: :get, local: true do |f| %>
    <div class="col-md5">
      <div class="field">
        <%# <%= f.label :name, "æ¤œç´¢" %>
        <%# <%= f.text_field :name, value: @search_params[:name] %>
        <%= f.text_field :name, value: "", type: "search", size: "55px",placeholder: "ðŸ” æ¤œç´¢ã€ã‚­ãƒ£ãƒ©ã‚¯ã‚¿ãƒ¼" %>
      </div>
    </div>
  <% end %>
</form>
  <%# <input class="form-control mr-sm-2 fas fa-search" type="search" placeholder="ä½œå“åã€ã‚­ãƒ£ãƒ©ã‚¯ã‚¿ãƒ¼åãªã©ã§æ¤œç´¢" aria-label="æ¤œç´¢" size="50"> %>
  <%# <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> %>