<div class="container" style="width: 1000px">
  <%# ヘッダー%>
  <%= render "/shared/header" %>
  <%# スライダー %>
  <%= render "/shared/slider" %>
  <%# ナビゲーション %>
  <%= render "/shared/navbar" %>
  <%# コンテンツ %>
  <%= render "/shared/contents" %>
</div>

