<div style="margin-top: 50px" class="container">
<h1>管理者メニュー🎉</h1>
<div style="float: right"><%= link_to "ログアウト",logout_path, method: :delete, class: "btn btn-outline-primary", data: {confirm: "ログアウトしますか？"} %></div>
<div style="margin-top: 50px" class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><strong>🍇API実行</strong></h5>
        <ul>
          <li>新規アニメの追加</li>
          <li>API取得</li>
          <li>CSVファイルのデータ作成</li>
        </ul>
        <p class="card-text">ここに説明が入る</p>
        <div class="center"><a href="#" class="btn btn-primary">API取得へ</a></div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><strong>🍊アニメとタグの紐付け</strong></h5>
        <ul>
          <li>アニメとタグの紐付け</li>
          <li>他の説明が入る</li>
          <li>他の説明が入る</li>
        </ul>
        <p class="card-text">ここに説明が入る</p>
        <div class="center"><%= link_to "アニメタグの編集へ",admin_posts_path, class: "btn btn-primary" %></div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><strong>🍎新規タグの追加</strong></h5>
        <ul>
          <li>ここに説明が入る</li>
          <li>ここに説明が入る</li>
          <li>ここに説明が入る</li>
        </ul>
        <p class="card-text">ここに説明が入る</p>
        <div class="center"><a href="#" class="btn btn-primary">タグ追加へ</a></div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><strong>🍒アニメとキャストの紐付け</strong></h5>
        <ul>
          <li>ここに説明が入る</li>
          <li>ここに説明が入る</li>
          <li>ここに説明が入る</li>
        </ul>
        <p class="card-text">ここに説明が入る</p>
        <div class="center"><a href="#" class="btn btn-primary">未定</a></div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><strong>🍌imageのアップロード</strong></h5>
        <ul>
          <li>画像サイズのリサイズ313x180px</li>
          <li>アニメ画像を正常に表示させるため</li>
          <li>ここに説明が入る</li>
        </ul>
        <p class="card-text">ここに説明が入る</p>
        <div class="center"><%= link_to "アニメ画像をリサイズして保存する",new_admin_image_path, class: "btn btn-primary" %></div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><strong>未定</strong></h5>
        <ul>
          <li>ここに説明が入る</li>
          <li>ここに説明が入る</li>
          <li>ここに説明が入る</li>
        </ul>
        <p class="card-text">ここに説明が入る</p>
        <div class="center"><a href="#" class="btn btn-primary">未定</a></div>
      </div>
    </div>
  </div>
</div>
</div>