<h1>タイムライン</h1>
<a class="twitter-timeline" href="https://twitter.com/<%= current_user.nickname %>?ref_src=twsrc%5Etfw">Tweets by <%= current_user.nickname %></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>