<div class="row">
  <div class="col-md-10">
    <h3><i class="far fa-check-square"></i>【嫌なことあったな】元気がない時はこれでしょ？</h3>
  </div>
  <%# <div class="col-md-2">
  </div> %>
  <div class="col-md-2" style="text-align: right">
    <h5><%= link_to "もっと見る" %></h5>
  </div>
</div>

<div class="swiper-container">
  <div class="swiper-wrapper">
    <% @works_feel_sad.each do |work| %>
      <% if !work.facebook_og_image_url.blank? %>
      <%# アニメ画像のリクエストURLがある時だけ %>
        <% if work.url_exist?(work.facebook_og_image_url) != "404" && work.url_exist?(work.facebook_og_image_url) != "500" %>
          <div class="swiper-slide">
            <span class="cut" data-toggle="tooltip" data-placement="top" title=<%= work.title %>><%= image_tag work.facebook_og_image_url ,alt: "#{work.title}", class: "img-thumbnail" %></span>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <%# <div class="swiper-pagination"></div> %>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>

</div>