<%# ナビゲーション %>
<nav class="nav-menu navbar navbar-expand-sm navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="border-header nav-item">
        <%= link_to "ホーム", "#", class: "nav-link fas fa-home fa-lg" %>
      </li>
      <li class="border-header nav-item">
        <% if logged_in? %>
          <%= link_to 'ログアウト',logout_path, class: "nav-link fas fa-sign-out-alt fa-lg", method: :delete, data:
                                        { confirm: 'ログアウトしますか?',
                                          cancel: 'やめる',
                                          commit: '実行'}, title: 'ログアウト確認' %>
          <% end %>
      </li>
      <li class="border-header nav-item">
        <%# <a class="nav-link" href="#">お問い合わせ</a> %>
        <%= link_to "お問い合わせ", "#", class: "nav-link far fa-envelope fa-lg" %>
      </li>
    </ul>
  </div>
</nav>

<div class="row" style="margin-top: 70px">
  <div class="col-md-4">
    <h1 style="color:#FFFFFF;">ロゴが来る予定</h1>
  </div>

  <div class="col-md-8">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="🔍 作品名、キャラクター名などで検索" aria-label="検索" size="50">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</div>