<nav class="nav-menu navbar navbar-expand-lg navbar-light" style="background-color: #FCFDFF; opacty: 0.5">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="menu-nav navbar-nav nav-fill w-100">
      <li class="border-menu nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          今期のアニメ
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">来期のアニメ（準備中）</a>
          <a class="dropdown-item" href="#">前期のアニメ</a>
        </div>
      </li>
      <li class="border-menu nav-item">
        <a class="nav-link" href="#">おもしろいアニメ <span class="sr-only">(current)</span></a>
      </li>
      <li class="border-menu nav-item">
        <a class="nav-link" href="#">アニメ一覧</a>
      </li>
      <li class="border-menu nav-item">
        <a class="nav-link" href="#">マイページ</a>
      </li>
    </ul>
  </div>
</nav>