<span style="margin-left: 1070px"><%= link_to "Twitter", "https://twitter.com/intent/tweet?text=ã€ã“ã‚Œã¯ãƒ†ã‚¹ãƒˆã€‘#{current_user.name}ã•ã‚“ã®ãƒžã‚¤ãƒªã‚¹ãƒˆðŸŽ‰çŸ¥ã‚‰ãªã„ä½œå“ãŒã‚ã‚‹ã‹ã‚‚!?&url=#{request.url}&hashtags=ã‚ã«ãžã", title: 'Twitter', target: '_blank', class: "fab fa-twitter btn btn-primary btn-sm" %></span>
