<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" interval="3000">
  <div style="border-style: none" class="carousel-inner margin-top center">
    <div class="carousel-item active">
      <% @works.first(1).each do |work_tags| %>
        <% if !work_tags.facebook_og_image_url.blank? %>
          <%= link_to "/works/detail/#{work_tags.id}", data:{"turbolinks"=>false} do %>
            <%= image_tag work_tags.facebook_og_image_url, size: "1000x350", alt: "#{work_tags.title}", class: "img-thumbnail" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <% @works.drop(1).each do |work_tags|%>
      <% if !work_tags.facebook_og_image_url.blank? %>
        <div class="carousel-item">
          <%= link_to "/works/detail/#{work_tags.id}", data:{"turbolinks"=>false} do %>
            <%= image_tag work_tags.facebook_og_image_url, size: "1000x350", alt: "#{work_tags.title}", class: "img-thumbnail" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>