<div class="row">
  <div class="col-md-4">
    <h3>〜タグから探す〜</h3>
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4" style="text-align: right">
    <h5><%= link_to "もっと見る" %></h5>
  </div>
</div>
<div class="mx-auto" style="width: 930px">
  <div class="row">
    <% @tags.first(9).each do |tag| %>
      <div class="col-md-4">
        <span class="mx-auto btn btn-secondary list-group">
          <%= tag.name %>
        </span>
      </div>
    <% end %>
  </div>
</div>