<div class="row">
  <div class="col-md-4">
    <h3 style="color: #FFFFFF"><i class="fas fa-search"></i>ジャンルから探す</h3>
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4" style="text-align: right">
  <%# もっとみるを押したらタグ一覧を表示する %>
    <h5><%= render partial: "shared/more-watch-modal-tags", locals: {tags: Tag.all, tag_group_count: @tag_group_count } %></h5>
  </div>
</div>
<div style="width: 930px">
  <%# <div class="row"> %>
    <% @tags.each_with_index do |tag, i| %>
      <div style="display: inline-block; font-size: 15px; width: 307px;">
        <span class="btn btn-secondary list-group edit-btn" style="background-color: #130B06">
          <%= link_to "/tags/work_list/#{tag.id}", class: "edit-link" do %>
            <%= tag.name %>（<%= @tag_group_count[i][1].size %>件)
           <% end %>
        </span>
      </div>
    <% end %>
  <%# </div> %>
</div>