@import '~bootstrap/scss/bootstrap';

// <%# モードによって制御するように変更する %>
:root {
  --color-background: #f9f9f9;
  --color-default: #000;
  --color-accent-1: deepskyblue;
  --color-accent-2: violet;
  --color-text: #130B06;
}

// ノーマル時
body {
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
  max-height: 100%;
  color: var(--color-text);
  .navbar .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: var(--color-default);
  }
  .navbar .navbar-nav .nav-link {
    color:var(--color-default);
  }
}

// ダークモードを制御する
// .dark-mode {
  // --color-background: #130B06;
  // --color-default: #f9f9f9;
  // .navbar .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    // color: var(--color-default);
  // }
  // 
// }

// .darkmode--activated {
  // background-color: #130B06;
// }

// リンクを動作させるため必須
.card-link {
  position: relative;
}

.alert {
	// text-align: center;
  // width: 930px;
  margin: 0 auto;
}
.alert-info {
  background-color: #bde9ff;
  border-color: #bde9ff;
  color: #4c6977;
}

.alert-danger {
  background-color: #f3c0c0;
  border-color: #f3c0c0;
  color: #3e3a3a;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
.radius-border {
  border-radius: 20px;
  background-color: gold;
}

.margin-top {
  margin-top: 90px;
}

.width-change {
  width: 50px;
}

.page-navigation{
  padding:0.5em;
  display:flex;
  justify-content:center;
}

.nav-menu {
  height: 50px;
  margin-top: 30px;
  // opacity: 0.5;
  font-size: 20px;
  a:hover {
    font-weight: bold;
    }
}

.border-menu {
  a:hover {
    background-color: slategrey;
  }
  border-left: solid 10px;
  border-color: lightgreen;
  width: 230px;
}

.border-menu2 {
  a:hover {
    background-color: slategrey;
  }
  border-left: solid 10px;
  border-color: lightgreen;
  width: 465px;
}

// .dark-border-menu {
  // a:hover {
    // background-color: slategrey;
  // }
  // border-left: solid 15px;
  // border-color: lightgreen;
  // width: 230px;
// }


.cut {
	position: relative;
	overflow: hidden;	/*不要部分の切り取り*/
	// height: 180px;		/*正方形にしたい高さサイズ*/
	height: 159px;		/*正方形にしたい高さサイズ*/
	// width: 313px;		/*正方形にしたい横幅サイズ*/
	width: 303px;		/*正方形にしたい横幅サイズ*/
	display: block;		/*spanなのでblock要素にする*/
	margin:0 10px 10px 0;
}

.cut_image {			/*縦・横の画像でも一応見れるように微妙に調整されています。*/
	display: block;
	// height: 150px;
	// height: auto;
	height: 159px;
  width: 303px;
	position: absolute;
	left: -50px;
	top: -20px;
}

// .slider img {
  // width: 100%;
  // height: 50vw;
  // object-fit: cover;
// }

/*各コンテンツのhover*/
.swiper-wrapper .swiper-slide:hover {
  display: inline-block;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  opacity: 0.6;
  transform: translateY(40px);
}

/* 全体のスタイル */
// .swiper-container {
	// width: 100%;
	// height: 250px;
// }
/* 全スライド共通スタイル */
.swiper-slide {
	// color: #ffffff;
	width: 100%;
	height: 125px;
	text-align: center;
	// line-height: 125px;
}

.carousel-control-next:hover{
  background-color: #0C0C0C;
  opacity: 0.4;
}

.carousel-control-prev:hover {
  background-color: #0C0C0C;
  opacity: 0.4;
}

.swiper-container{
  width: 100%;
  height: 200px;
  padding: 10px;
}

.list-group {
  height: 50px;
  // padding: 20px 20px 0px 0px;
  padding: 20px 20px 50px 20px;
  text-align: left;
  font-weight: bold;
  color: #FFF;
  // margin: 0.5em 0px;
  box-shadow: 2px 2px;
  // border: outset;

}

.col-md-4 {
  padding-left: -15px;
  padding-right: -15px;
}


span a:hover {
  text-decoration: none;
}

select {
  width: 140px;
  height: 45px;
}


/*管理者画面 checkboxのサイズを変更する*/
.admin {
  input[type=checkbox] {
    width: 40px;
    height: 40px;
    vertical-align: middle;
  }
}

/*検索ボックス*/
input[type=text] {
  width: 180px;
  height: 60px;
  margin-top: 80px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.32);
}

.edit-link {
  color: #FFF;
}

.edit-link:hover {
  color: #FFF;
}

.edit-btn {
  color: #FFF;
}

.edit-btn:hover {
  opacity: 0.6;
}

.review-box {
  font-size: 13px;
}

textarea {
  resize: none;
  border-radius: 20px;
}


// .tooltip-inner{
  // max-width: 100%;
// }

/* 全体のスタイル */
// .swiper-container {
	// width: 930px;
	// height: 460px;
// }
// /* 全スライド共通スタイル */
// .swiper-slide {
	// width: 256px;
	// height: 180px;
	// line-height: 125px;
// }

/* 4の倍数＋1枚目のスライドのスタイル（1枚目、5枚目…） */
// .swiper-container {
  // width: 930px;
  // height: 500px;
  // margin-left: auto;
  // margin-right: auto;
// }
// 
// .swiper-slide {
  // text-align: center;
  // font-size: 18px;
  // background: #fff;
  // height: calc((100% - 30px) / 1);
// 
  // /* Center slide text vertically */
  // display: -webkit-box;
  // display: -ms-flexbox;
  // display: -webkit-flex;
  // display: flex;
  // -webkit-box-pack: center;
  // -ms-flex-pack: center;
  // -webkit-justify-content: center;
  // justify-content: center;
  // -webkit-box-align: center;
  // -ms-flex-align: center;
  // -webkit-align-items: center;
  // align-items: center;
// }

.kokuban {
  font-family: HuiFontP109;
  background-color:#16202C;
  margin: 5px 0 10px 0;
  padding: 10px;
  border: 1px solid #FFF;
  border-radius: 3px;
  // box-shadow: 2px 2px 4px #666, 2px 2px 2px #111 inset;
  // text-shadow: 0px 0px 2px #000;
  line-height: 1.9;
}
.point {
  color: #ffb1b3;
  font-weight: bold;
  border: 3px solid #ffb1b3;
  font-size: 20px;
}

.kanso-border {
  border-top: 1px dotted #8c8b8b; 
}

hr {
  height: 8px;
  background-image: repeating-linear-gradient(45deg, #ccc 0, #ccc 1px, transparent 0, transparent 50%), repeating-linear-gradient(135deg, #ccc 0, #ccc 1px, transparent 0, transparent 50%);
  background-size: 8px 8px;
}

.box-title {
  display: inline-block;
  top: -27px;
  left: -3px;
  padding: 0 9px;
  font-size: 40px;
  background: #EB5529;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px;
}

.img-zoom:hover {
  transform: scale(1.2);
}

.img-zoom {
  transition-duration: 0.3s;
}

.a-link {
  text-decoration: none;
  color: #000;
}

.ele-left {
  margin-left: 21px;
}

.parent {
  position: relative;
}

.mylists {
  position:  absolute;        /* 要素の配置方法を指定 */
  left: 100px;
  top: 200px;
  z-index: 99;

}

.mylists2 {
  position:  absolute;        /* 要素の配置方法を指定 */
  left: 150px;
  top: 170px;
  z-index: 99;

}

.mylists3 {
  position:  absolute;        /* 要素の配置方法を指定 */
  left: 150px;
  top: 190px;
  z-index: 99;

}

.join_anizoku {
  position:  absolute;        /* 要素の配置方法を指定 */
  left: 380px;
  top: 350px;
  z-index: 99;

}


.konkilists {
  position:  absolute;        /* 要素の配置方法を指定 */
  left: 100px;
  top: 180px;
  z-index: 99;

}


.ele-border {
  border-bottom: 5px groove #E40A15;
  opacity: 0.5;
}

.blur{
  -ms-filter: blur(6px);
  filter: blur(6px);
}


