@import '~bootstrap/scss/bootstrap';

// <%# モードによって制御するように変更する %>
:root {
  --color-background: #f9f9f9;
  --color-default: #000;
  --color-accent-1: deepskyblue;
  --color-accent-2: violet;
  --color-text: #000000;
}

// ノーマル時
body {
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
  max-height: 100%;
  color: var(--color-default);
  .navbar .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: var(--color-default);
  }
  .navbar .navbar-nav .nav-link {
    color:var(--color-default);
  }
}

// ダークモードを制御する
.dark-mode {
  --color-background: #130B06;
  --color-default: #f9f9f9;
  // --color-text:  #130B06;
  // --color-accent-1: cyan;
  // --color-accent-2: magenta;
  .navbar .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: var(--color-default);
  }
  
}

.alert {
	text-align: center;
}
.alert-info {
  background-color: #bde9ff;
  border-color: #bde9ff;
  color: #4c6977;
}
 
.alert-danger {
  background-color: #f3c0c0;
  border-color: #f3c0c0;
  color: #3e3a3a;
}

.center {
  text-align: center;
}

.radius-border {
  border-radius: 20px;
  background-color: gold;
}

.margin-top {
  margin-top: 90px;
}

.width-change {
  width: 50px;
}

.page-navigation{
  padding:0.5em;
  display:flex;
  justify-content:center;
}

.nav-menu {
  height: 50px;
  margin-top: 30px;
  // opacity: 0.5;
  font-size: 20px;
  a:hover {
    font-weight: bold;
    }
}

.border-menu {
  a:hover {
    background-color: slategrey;
  }
  border-left: solid 10px;
  border-color: lightgreen;
  width: 230px;
}

.border-menu2 {
  a:hover {
    background-color: slategrey;
  }
  border-left: solid 10px;
  border-color: lightgreen;
  width: 465px;
}

.dark-border-menu {
  a:hover {
    background-color: slategrey;
  }
  border-left: solid 15px;
  border-color: lightgreen;
  width: 230px;
}

.cut {
	position: relative;
	overflow: hidden;	/*不要部分の切り取り*/
	height: 180px;		/*正方形にしたい高さサイズ*/
	width: 313px;		/*正方形にしたい横幅サイズ*/
	display: block;		/*spanなのでblock要素にする*/
	margin:0 10px 10px 0;
}

.cut_image {			/*縦・横の画像でも一応見れるように微妙に調整されています。*/
	display: block;
	// height: 150px;
	height: auto;
  width: 313px;
	position: absolute;
	left: -50px;
	top: -20px;
}

.slider img {
  width: 100%;
  height: 50vw;
  object-fit: cover;
}

/*各コンテンツのhover*/
.swiper-wrapper .swiper-slide:hover {
  display: inline-block;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  opacity: 0.6;
  transform: translateY(40px);
}

/* 全体のスタイル */
.swiper-container {
	width: 100%;
	height: 250px;
}
/* 全スライド共通スタイル */
.swiper-slide {
	color: #ffffff;
	width: 100%;
	height: 125px;
	text-align: center;
	line-height: 125px;
}

.list-group {
  height: 70px;
  // padding: 20px 20px 0px 0px;
  padding: 20px 20px 50px 10px;
  font-size: 1em;
  text-align: left;
  font-weight: bold;
  color: #E60914;
  background-color: #FFFFFF;
  margin: 0.5em 0px;
  border: outset;
  border-radius: 30px;
  // box-shadow: 2px 2px;

}

.col-md-4 {
  padding-left: -15px;
  padding-right: -15px;
}


span a:hover {
  text-decoration: none;
}

i {
  opacity: 0.5;
}

/*管理者画面 checkboxのサイズを変更する*/
.admin {
  input[type=checkbox] {
    width: 40px;
    height: 40px;
    vertical-align: middle;
  }
}

/*検索ボックス*/
input[type=search] {
  width: 500px;
  height: 40px;
  margin-top: 80px;
}

// .tooltip-inner{
  // max-width: 100%;
// }

/* 全体のスタイル */
// .swiper-container {
	// width: 930px;
	// height: 460px;
// }
// /* 全スライド共通スタイル */
// .swiper-slide {
	// width: 256px;
	// height: 180px;
	// line-height: 125px;
// }

/* 4の倍数＋1枚目のスライドのスタイル（1枚目、5枚目…） */
// .swiper-container {
  // width: 930px;
  // height: 500px;
  // margin-left: auto;
  // margin-right: auto;
// }
// 
// .swiper-slide {
  // text-align: center;
  // font-size: 18px;
  // background: #fff;
  // height: calc((100% - 30px) / 1);
// 
  // /* Center slide text vertically */
  // display: -webkit-box;
  // display: -ms-flexbox;
  // display: -webkit-flex;
  // display: flex;
  // -webkit-box-pack: center;
  // -ms-flex-pack: center;
  // -webkit-justify-content: center;
  // justify-content: center;
  // -webkit-box-align: center;
  // -ms-flex-align: center;
  // -webkit-align-items: center;
  // align-items: center;
// }


